body{

    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(112, 112, 200);
}

.class{

    display: flex;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    gap: 30px;
}

.order{

    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}